# runtime 
/nexmark/
/justin-custom-flink/*.jar
/flink_1-20_build/
/flink/
/flink-justin/
/flink-from-remote-1-20/
/containerd/
/kafka
/kafka_2.13-3.7.2/
/rocksdb/
/scaling-logs/
/node-v16.13.2/
/cni

# build/cache artifacts
analysis/__pycache__/
*.pyc
rocksdb-options/target/
monitoring/prometheus/data/
monitoring/grafana/data/
analysis/figures/
*.log
time,uptime,level*

#incomplete experiments
/benchmark/flink-optimization-final
/benchmark/q20u-custom-mem-sensitivity

# experiment outputs
benchmark/mrc-gen/**/exp-*/
benchmark/managed-mem-sensitivity/**/exp-*/
benchmark/managed-mem-sensitivity/test_fetch_async_profile
benchmark/query-runner-v2-savepoint/**/exp-*/
benchmark/query-runner-v2-savepoint/savepoint-*/
benchmark/query-runner-v2/*/

# lsm viewer generated data
/rocksdb-flink-stats-viewer/__pycache__/
/rocksdb-flink-stats-viewer/static/data/
/rocksdb-flink-stats-viewer/static/data.json
/rocksdb-flink-stats-viewer/static/index.json
/rocksdb-flink-stats-viewer/
/rocksdb-flink-stats-viewer-v2/__pycache__/
/rocksdb-flink-stats-viewer-v2/static/data/
/rocksdb-flink-stats-viewer-v2/static/data.json
/rocksdb-flink-stats-viewer-v2/static/index.json
/rocksdb-flink-stats-viewer-v2/

# tooling
.DS_Store
.idea/
scripts/env.local.sh

# personal files
/analysis/
/fall-sem-report/
